bleach
bs4
cairosvg
dnspython
flask
gunicorn
marko
pillow
pillow-avif-plugin
pillow_heif
pyipip
python-magic
python-resize-image
requests
sentry-sdk[flask]
web3
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
